/* Always set the map height explicitly to define the size of the div
* element that contains the map. */

#map {
    height: 900px;
    width: 100%;
}


/* Optional: Makes the page fill the window. */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


/* Button */

#btn-display {
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 1000;
    border-radius: 0;
    padding: 12px 20px;
    background: none padding-box rgb(225, 252, 255);
    border: 0px;
    margin: 0px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    font-weight: 500;
}

#btn-display:hover {
    color: rgb(255, 255, 255);
    background: #f84a61;
    transition: 0.2s ease-in-out;
}

#btn-display-node-passed {
    position: absolute;
    top: 90px;
    left: 10px;
    z-index: 1000;
    border-radius: 0;
    padding: 12px 20px;
    background: none padding-box rgb(225, 252, 255);
    border: 0px;
    margin: 0px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    font-weight: 500;
}

#btn-display-node-passed:hover {
    color: white;
    background-color: rgb(88, 96, 252);
    transition: 0.2s ease-in-out;
}

.search-new-path {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 160px;
    left: 10px;
    z-index: 1000;
}

#input-node-error {
    height: 42px;
    width: 80px;
    outline: none;
    font-size: 16px;
    border: none;
    margin: 0 4px;
    padding-left: 14px;
}

.btn-search-new-path {
    height: 44px;
    background-color: rgb(248, 146, 95);
    border: none;
    color: white;
    font-size: 16px;
}

.btn-search-new-path:hover {
    background-color: rgb(255, 79, 9);
    cursor: pointer;
}